<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.campos.avamsn" android:versionName="0.8.5">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="AvaMSN" android:icon="@drawable/Icon" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
</manifest>